rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == 'satyammasterofai@gmail.com' ||
        request.auth.token.email == 'bfitsaharanpur@gmail.com'
      );
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
